    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I am master student of computer science in <a href="https://www.uni-saarland.de/en/home.html">Saarland University</a> (2018-now). 
                        I received my bachelor degree of computer science in <a href="https://www.ugm.ac.id/en">Universitas Gadjah Mada</a> (2014-2018). 
                        My bachelor thesis was doing classification on description question’s answer for Indonesian national exam using convolutional neural network and GloVe as the word embedding. 
                        The project was associated with the Indonesian Ministry of Education and Culture.</p>

                        <p>Before joining Saarland University, I have some industry experiences. I was working as a Data Engineer for 6 months in DALA Technology (2017-2018). 
                        During my work in DALA Technology, I was working on a project called Pusdatin (Integrated Data System). This project was associated with Indonesian Ministry of 
                        Energy and Mineral Resources and Pertamina. I was also employeed as a Data Analyst in <a href="http://kulina.id">Kulina</a> (2018). My works were mostly doing data analysis on customer data.
                        </p>

                        <p>Currently, I am working on my master's thesis which focus on exploration of knowledge distillation in masked language model.</p>

                        
                        <p>I am interested in data analysis and machine learning in natural language processing. I write articles in my medium
                         in English and Bahasa Indonesia. Check them out!</p>
                </div>
     
            </div>
        </div>
    </section>