    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Hello! Let's make data talk with us!</p>

                    <p>I am a master's student of computer science at <a href='https://www.uni-saarland.de/en/home.html'>Saarland University</a>. I received my bachelor's degree in 
                    computer science from <a href='https://www.ugm.ac.id/en'>Universitas Gadjah Mada</a>. I grew my industry experiences by joined on projects and also working in a company. </p>
                        
                    <p>I am interested in data analytics and machine learning in natural language processing.  Currently, I am working on exploring size reduction in the machine learning models.
                         Besides that, I love cycling, drawing, and playing <i>Don't Starve Together</i>! </p>

                    <h4></br>SKILLS:</h4>

                    <p><img src="img/icon/python.png" style="max-width:5%;"> <img src="img/icon/r.png" style="max-width:5%;">
                        <img src="img/icon/mysql.png" style="max-width:5%;"> <img src="img/icon/matplotlib.png" style="max-width:5%;">
                        <img src="img/icon/seaborn.png" style="max-width:5%;"> <img src="img/icon/excel.png" style="max-width:5%;">
                        <img src="img/icon/tableau.png" style="max-width:5%;"> <img src="img/icon/google-cloud.png" style="max-width:5%;">
                        <img src="img/icon/github.png" style="max-width:5%;"> <img src="img/icon/docker.png" style="max-width:5%;"></p>

                </div>
     
            </div>
        </div>
    </section>