<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">Hi, I'm Ida Novindasari!</span>
          <!-- <hr class="star-light" /> -->
          <span class="skills">Data Science and Analytics Enthusiast</span>

            <ul class="list-inline">
                <li>
                    <a href="https://www.linkedin.com/in/idanovinda/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://idanovinda.medium.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-pencil"></i></a>
                </li>
                <li>
                    <a href="http://github.com/idanovinda" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/idanovinda/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/idanovinda/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                </li>
                
            </ul>
        </div>
      </div>
    </div>
  </div>
</header>
